.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-a {
  display: flex;
  align-items: center;
}

.header__logo-icon {
  width: auto;
  height: 20px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -4px;
  margin-right: -4px;
}

.header__menu-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
}

.nav {
  display: none;
}

@media (min-width: 640px) {
  .header__menu {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
  }

  .nav__list {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav__item {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px 8px;
  }

  .nav__list-a {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    margin: 0px 8px;
  }

  .nav__list-a:hover {
    background-color: rgba(2, 32, 71, 0.05);
    border-radius: 6px;
  }

  .nav__list-text {
    color: #425968;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
  }

  .nav__list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    padding: 8px 11px;
    margin: 0px 8px;
    background: #3182f6;
    color: #f9fafb;
    font-size: 14px;
    cursor: pointer;
  }

  .nav__list-button:hover {
    background: #1b64da;
    transition: background 0.2s ease, color 0.1s ease;
  }

  .header__menu {
    display: none;
  }
}
