.header {
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 27, 55, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
}

.header__wrap {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: auto;
}

.header__inner {
  display: flex;
}

/* Header 로고 */

.header__logo {
  display: flex;
  height: 60px;
  align-items: center;
}

.header__logo-a {
  display: flex;
}

.header__logo-icon {
  width: auto;
  height: 20px;
}

.header__menu {
  display: none;
}

/* Header Nav */

.nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: #4e5968;
}

.nav__list-a {
  padding: 12px 10px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.nav__list-a:hover {
  background-color: rgba(2, 32, 71, 0.05);
}

.nav__list-button {
  font-weight: 600;
}

/* Header 640px 미만 */

@media (max-width: 639px) {
  .header__inner {
    flex-direction: column;
  }

  .header__menu {
    position: absolute;
    top: 16px;
    right: 20px;
    display: flex;
    align-items: center;
  }

  .header__menu-button {
    height: 100%;
    padding: 0 8px;
    margin-right: -8px;
    cursor: pointer;
  }

  .header__menu-icon {
    height: 24px;
    width: 24px;
    min-width: 24px;
    color: rgb(176, 184, 193);
  }

  .nav {
    display: none;
    width: calc(100% + 48px);
    margin: 0 -24px;
    flex-direction: column;
  }

  .active {
    display: block;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list-item {
    width: 100%;
    padding: 0;
  }

  .nav__list-item:last-child {
    padding-right: 4px;
  }

  .nav__list-a {
    width: 100%;
    padding: 18px 20px;
    border-radius: 0;
  }

  .nav__list-button {
    width: 100%;
    padding: 14px 0;
    margin: 16px 20px;
  }
}
