<template id="header">
  <header class="header">
    <div class="header__wrap">
      <div class="header__inner container">
        <h1 class="header__logo">
          <a class="header__logo-a" data-navigation href="/tech">
            <img
              class="header__logo-icon"
              src="../../../public/assets/toss-logo.svg"
              alt="토스 로고"
            />
          </a>
        </h1>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__list-item">
              <a class="nav__list-a" data-navigation href="/design">디자인</a>
            </li>
            <li class="nav__list-item">
              <a class="nav__list-a" data-navigation href="/tech">개발</a>
            </li>
            <li class="nav__list-item">
              <button class="button nav__list-button" type="button">
                채용 바로가기
              </button>
            </li>
          </ul>
        </nav>
        <div class="header__menu">
          <button class="header__menu-button">
            <img
              class="header__menu-icon"
              src="../../../public/assets/hamburger-icon.svg"
              alt="메뉴 아이콘"
            />
          </button>
        </div>
      </div>
    </div>
  </header>
</template>
