.button {
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600px;
  line-height: 18px;
  text-align: center;
  color: #f9fafb;
  background: #3182f6;
  transition: background 0.2s ease, color 0.1s ease;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background: #1b64da;
}

.container {
  width: 92%;
  max-width: calc(100% - 48px);
  height: 100%;
  margin: 0 auto;
}

