/* Footer Section */

.footer__section {
  width: 100%;
  padding: 60px 24px;
  background-color: rgba(2, 9, 19, 0.91);
}

.footer__section-wrap {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-column-gap: 20px;
  max-width: 640px;
  margin: 0 auto;
}

.footer__section-image {
  width: 186px;
  height: 186px;
}

.footer__setcion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer__section-title {
  font-size: 26px;
  line-height: 1.4;
  color: #ffffff;
  font-weight: bold;
}

.footer__section-text {
  margin-top: 8px;
  font-size: 17px;
  line-height: 1.5;
  color: #e5e8eb;
}

.footer__section-button {
  margin-top: 24px;
  font-weight: 600;
}

/* Footer */

.footer {
  padding: 50px 0 100px;
  background-color: #f9fafb;
  font-size: 15px;
  cursor: default;
}

.footer__wrap {
  max-width: 1064px;
  margin: auto;
  padding: 0 67px;
}

.footer__address {
  color: #8b95a1;
  font-size: 13px;
  line-height: 20px;
}

.footer__address--strong {
  display: block;
  padding-bottom: 16px;
  color: #333d4b;
  font-size: 15px;
  font-weight: bold;
}

.footer__icon-list {
  display: flex;
  margin-top: 75px;
  margin-bottom: 16px;
}

.footer__icon-item {
  margin-right: 8px;
}

.footer__icon-item:last-child {
  margin-right: 0;
}

.footer__icon-a {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.footer__icon-a:hover {
  opacity: 1;
}

.footer__icon-image {
  width: 100%;
  height: 100%;
}

/* Footer Section 700px 이하 */

@media (max-width: 700px) {
  .footer__section {
    padding-top: 24px;
  }

  .footer__section-wrap {
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }

  .footer__section-image {
    width: 90px;
    height: 90px;
  }

  .footer__section-title {
    font-size: 20px;
  }

  .footer__section-text {
    font-size: 16px;
  }
}

/* Footer 640px 이하 */

@media (max-width: 640px) {
  .footer {
    padding: 60px 40px 80px;
  }

  .footer__wrap {
    padding: 0;
  }
}
