<template id="footer">
  <section class="footer__section">
    <div class="footer__section-wrap">
      <img
        class="footer__section-image"
        src="../../../public/assets/website-code-blue.png"
        alt="이미지"
      />
      <div class="footer__setcion-content">
        <h3 class="footer__section-title">
          토스팀이 만드는 수많은 혁신의 순간들
        </h3>
        <p class="footer__section-text">
          당신과 함께 만들고 싶습니다.<br />지금, 토스팀에 합류하세요.
        </p>
        <button class="button footer__section-button" type="button">
          채용 중인 공고 보기
        </button>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer__wrap">
      <footer-list></footer-list>
      <address class="footer__address">
        <strong class="footer__address--strong">㈜비바리퍼블리카</strong>
        Copyright © Viva Republica, Inc. All Rights Reserved.
      </address>
      <footer-icon-list></footer-icon-list>
    </div>
  </footer>
</template>
