.article-item__a {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article-item__a:hover .article-item__image {
  box-shadow: rgba(0, 0, 33, 0.07) 0px 16px 22.4px 4.8px,
    rgba(0, 0, 33, 0.05) 0px 3.2px 16px 0px,
    rgba(0, 0, 33, 0.07) 0px 0px 1px 0px;
  transform: translate3D(0, -3%, 0);
}

.article-item__a:hover .article-item__title {
  color: #3182f6;
}

.article-item__image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  margin-right: 48px;
  transition: 0.2s ease-in-out;
  overflow: clip;
}

.article-item__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 14px;
  overflow: hidden;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  color: #333d4b;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
  transition: color 0.3s ease;
}

.article-item__description {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  color: #4e5968;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.article-item__date {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #8b95a1;
}

@media (max-width: 700px) {
  .article-item__a {
    flex-direction: column;
  }

  .article-item__image {
    width: 100%;
    max-height: 200px;
    margin: 0 0 20px 0;
  }

  .article-item__title {
    margin-bottom: 10px;
    font-size: 26px;
  }

  .article-item__description {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  .article-item__date {
    font-size: 14px;
  }
}
